.container {
  width: 1280px;
  margin: 0 auto;
  background: #fefffd;
  padding-bottom: 116px;
}

.header {
  top: 0;
  left: 0;
  width: 1280px;
  height: 100px;
  background-color: #f7f6fb;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  background-image: url('img/background.png');
  background-repeat: repeat;
  background-position: 100px 100px center;
}

.header__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 20px;

}



.header__burger-menu,
.header__cart-button {
  background: none;
  border: 1px solid #515076;
  border-radius: 10px;
  padding: 10px 20px;
  background-color: #515076;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
  transition: background 0.5s ease;
}

.header__burger-menu:hover,
.header__cart-button:hover {
  background: #403d6b;
  transition: background 0.1s ease;
}

.header__burger-menu:active,
.header__cart-button:active {
  background: #2e2b5c;
  transition: background 0.1s ease;
}

.container__background {
  background-image: url('img/background.png');
  background-repeat: no-repeat;
  background-position: center top;
}

body {
  color: #515076;
  font-family: 'montserrat', sans-serif;
  letter-spacing: 0%;
  margin: 0;
}


.container__main-title {
  font-style: normal;
  font-weight: 400;
  font-size: 70px;
  line-height: 78px;
  text-align: center;
  color: #515076;
  margin-bottom: 110px;
}


.container__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 45px;
  margin: 0 auto;
  width: 1110px;
}


.card {
  width: 340px;
  border: 1px solid #e8e7ef;
  background: #f7f6fb;
  padding: 25px;
  position: relative;
}

.card__sale {
  position: absolute;
  bottom: 395px;
  left: 25px;
  padding: 5px 10px;
  background: red;
  color: white;
  border-radius: 10px;
  font-weight: bold;
}

.card-sale {
  transition: 0.3s;
}

.card-sale:hover {
  transform: scale(1.03);
  background-image: url(img/background.png);
  cursor: pointer;

}

.card__img {
  width: 290px;
  height: 245px;
  object-fit: cover;
  margin-bottom: 20px;
}

.card__rating-number {
  color: black;
  margin-right: 5px;
}

.rating-star {
  color: gold;
  margin-bottom: 5px;
  display: inline-block;
}





.card__skin-type {
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: #A5A3B9;
  margin-bottom: 5px;
}

.card__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: #515076;
  margin-bottom: 5px;
}

.card__description {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #515076;
  margin-bottom: 15px;
}


.card__composition {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #515076;
  margin-bottom: 5px;
}

.card__list {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #515076;
  padding-left: 20px;
}

.card__item {
  margin-bottom: 5px;
}

.price-discount {
  color: red;
}

.card__price-row {
  color: #515076;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__buy-button {
  width: 80%;
  height: 40px;
  background: #515076;
  border-radius: 10px;
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  margin: 0 auto;
  padding: 10px;
  transition: background 0.5s ease;
}

.card__buy-button:hover {
  background: #403d6b;
  transition: background 0.1s ease;
}

.card__buy-button:active {
  background: #2e2b5c;
  transition: background 0.1s ease;
}

.card__add-to-cart {
  width: 15%;
  height: 40px;
  background: #515076;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: background 0.5s ease;
}

.card__add-to-cart:hover {
  background: #403d6b;
  transition: background 0.1s ease;
}

.card__add-to-cart:active {
  background: #2e2b5c;
  transition: background 0.1s ease;
}

.card__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.cart-icon {
  color: white;
}

.cart-modal {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 50px;
  z-index: 10000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.hidden {
  display: none;
}

.cart-modal__title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #515076;
}

.cart-modal__content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  border: none;

}

.cart-modal__empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}

.cart-modal__empty h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #515076;
}

.cart-modal__empty p {
  font-size: 14px;
  margin-bottom: 10px;
  color: #656385;
}

.empty-remove {
  color: #faf8f8;
  font-size: 20px;
  transition: color 0.5s ease;
}

.cart-modal__empty-remove {
  width: 80px;
  height: 40px;
  margin-top: 20px;
  background: #5f5e80;
  border-radius: 10px;
  font-size: 14px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  transition: background 0.5s ease;
}

.cart-modal__button {
  width: 200px;
  height: 40px;
  margin-top: 20px;
  background: #5f5e80;
  border-radius: 10px;
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  transition: background 0.5s ease;
}

.cart-modal__image {
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin-bottom: 20px;
}

.cart-modal__info {
  border: 1px solid #f3f2f8;
  padding: 350px 200px 200px;
  margin-bottom: 20px;
  width: 100%;
  background-image: url('img/cart-removebg-preview.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center top;

}

.cart-modal__image {
  width: 1000px;
  height: 100%;
  object-fit: center;
}

.cart-modal__subtitle {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #515076;
}

.cart-modal__text {
  font-size: 14px;
  margin: 0 auto;
  color: #5e5c7e;
  padding: 1px;
}

.cart-modal__button {
  width: 200px;
  height: 40px;
  margin-top: 20px;
  background: #5f5e80;
  border-radius: 10px;
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  transition: background 0.5s ease;
}

.cart-modal__button:hover {
  background: #635ea3;
  transition: background 0.1s ease;
}

.cart-modal__button:active {
  background: #2e2b5c;
  transition: background 0.1s ease;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}